.heroContainer {
  background: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 600px;
  position: relative;
  z-index: 1;
}

.heroContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      180deg,
      rgb(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    linear-gradient(180deg, rgb(0, 0, 0, 0.2) 0%);
  z-index: 2;
}

.heroBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.videoBg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: #232a34;
}

.heroContent {
  z-index: 3;
  max-width: 1200px;
  position: absolute;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroH1 {
  color: black;
  font-size: 60px;
  font-weight: 600px;
  text-align: center;
}

.heroP {
  margin-top: 24px;
  color: black;
  font-size: 40px;
  font-weight: 400px;
  text-align: center;
  max-width: 600px;
}

.form__field {
  width: 360px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.btn--primary {
  background: #1DBF73;
  color: white;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px 36px;
}

.btn:hover {
    background: darken(#7f8ff4, 4%);
}

.btn:active {
    background:  #7f8ff4;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}

.btn--inside {
margin-left: -96px;
}

.chip{
  margin-top: 20px;
}