.link{
  text-decoration: none;
  color: inherit;
}

.dialogcontent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: "25px"
}

.chip{
  display: flex;
  justify-content: flex-end;
}